**Importamos las librerías necesarias:**

In [5]:
import pandas as pd
import numpy as np

**Cargamos el dataset**

In [2]:
df = pd.read_csv("/home/jovyan/TMF/raw_data_bank_ds/bank-additional-full.csv", sep=";")

**Comprobamos que se ha cargado correctamente mostrando las primeras 5 filas**

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

**Miramos si hay algún dato que sea null para eliminarlo posteriormente si existiera**

In [4]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

**Eliminamos datos duplicados si los hubiese**

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

**Eliminamos las columnas que no parecen ser relevantes para nuestro análisis**
http://archive.ics.uci.edu/ml/datasets/Bank+Marketing

In [9]:
df = df.drop(["duration", "campaign", "pdays", "previous", "poutcome"], axis=1)

In [10]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,-1.1,94.767,-50.8,1.028,4963.6,no

**Convertimos las variables categóricas a factores:**

In [11]:
df["job"] = df["job"].astype("category").cat.codes
df["marital"] = df["marital"].astype("category").cat.codes
df["education"] = df["education"].astype("category").cat.codes
df["default"] = df["default"].astype("category").cat.codes
df["housing"] = df["housing"].astype("category").cat.codes
df["loan"] = df["loan"].astype("category").cat.codes
df["contact"] = df["contact"].astype("category").cat.codes
df["month"] = df["month"].astype("category").cat.codes
df["day_of_week"] = df["day_of_week"].astype("category").cat.codes
df["y"] = df["y"].astype("category").cat.codes

In [12]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,1.1,93.994,-36.4,4.857,5191.0,0

DUDA: Escalo entre 0 y 1 las edades? todas las variables? SI ESCALO ESCALO TODO

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[["age"]] = scaler.fit_transform(df[["age"]])

Hacer el escalado solo sobre train, luego se aplica, después ese escalado sobre test

**FInalmente dividimos el dataset en train y en test**

In [6]:
from sklearn.model_selection import train_test_split

X = df.drop(["y"], axis=1)
y = df["y"]

# add stratify
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

NameError: name 'df' is not defined

In [14]:
X_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
12348,29,2,1,1,0,2,2,1,3,0,1.4,93.918,-42.7,4.959,5228.1
8565,50,0,2,6,0,0,0,1,4,4,1.4,94.465,-41.8,4.864,5228.1
21424,29,0,2,6,0,0,0,0,1,3,1.4,93.444,-36.1,4.963,5228.1
3316,35,0,2,6,0,0,0,1,6,2,1.1,93.994,-36.4,4.860,5191.0
33246,40,1,2,3,1,0,0,0,6,3,-1.8,92.893,-46.2,1.291,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6266,34,1,1,2,0,0,2,1,6,3,1.1,93.994,-36.4,4.857,5191.0
11285,29,0,1,2,0,2,0,1,4,2,1.4,94.465,-41.8,4.961,5228.1
38169,71,5,1,0,0,0,0,0,8,2,-3.4,92.431,-26.9,0.754,5017.5
860,40,4,1,6,0,2,0,1,6,4,1.1,93.994,-36.4,4.856,5191.0
15798,19,8,2,2,1,2,0,0,3,1,1.4,93.918,-42.7,4.960,5228.1

In [15]:
X_test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
36264,59,5,1,5,0,2,2,0,4,1,-2.9,92.963,-40.8,1.266,5076.2
32672,34,1,1,2,0,0,0,0,6,1,-1.8,92.893,-46.2,1.299,5099.1
40872,32,9,1,5,0,2,0,0,8,4,-1.1,94.601,-49.5,0.959,4963.6
32907,53,0,1,3,0,2,2,0,6,1,-1.8,92.893,-46.2,1.299,5099.1
16464,24,7,2,2,0,2,0,1,3,4,1.4,93.918,-42.7,4.963,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19004,53,1,1,0,0,0,0,0,1,3,1.4,93.444,-36.1,4.968,5228.1
34252,30,9,1,2,0,2,0,1,6,2,-1.8,92.893,-46.2,1.266,5099.1
13575,54,10,1,6,1,0,0,1,3,2,1.4,93.918,-42.7,4.963,5228.1
1872,46,1,1,5,0,2,0,1,6,0,1.1,93.994,-36.4,4.855,5191.0
12339,32,0,0,6,0,0,2,1,3,0,1.4,93.918,-42.7,4.959,5228.1

In [16]:
y_train

12348    0
8565     0
21424    0
3316     0
33246    0
        ..
6266     0
11285    0
38169    0
860      0
15798    0
Name: y, Length: 32940, dtype: int8

In [17]:
y_test

36264    1
32672    0
40872    1
32907    0
16464    0
        ..
19004    0
34252    0
13575    0
1872     0
12339    0
Name: y, Length: 8236, dtype: int8

### KNN

Cargamos las librerias

In [20]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

Elegimos los distintos parámetros para la gridSearch

In [18]:
param_grid = {'n_neighbors': [3, 5, 7, 9, 11],
              'weights': ['uniform', 'distance'],
              'algorithm': ['ball_tree', 'kd_tree', 'brute']}

Creamos el clasificador

In [21]:
knn = KNeighborsClassifier()

Creamos el objeto de GridSearch

In [22]:
# refit true, para que entrenemos con todos los datos
grid_search = GridSearchCV(knn, param_grid, cv=5, refit=True)

Hacemos el fit

In [23]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['ball_tree', 'kd_tree', 'brute'],
                         'n_neighbors': [3, 5, 7, 9, 11],
                         'weights': ['uniform', 'distance']})

In [24]:
print("Best hyperparameters:", grid_search.best_params_)
print("Accuracy score:", grid_search.best_score_)

Best hyperparameters: {'algorithm': 'kd_tree', 'n_neighbors': 11, 'weights': 'uniform'}
Accuracy score: 0.887370977534912

### RANDOM FOREST

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
param_grid = {"n_estimators": [50, 100, 200],
              "max_depth": [None, 5, 10],
              "min_samples_split": [2, 5, 10],
              "min_samples_leaf": [1, 2, 4]}

In [28]:
rfc = RandomForestClassifier(random_state=42)

In [29]:
grid_search = GridSearchCV(rfc, param_grid, cv=5)

In [30]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
             param_grid={'max_depth': [None, 5, 10],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 200]})

In [32]:
print("Best hyperparameters:", grid_search.best_params_)
print("Accuracy score:", grid_search.best_score_)

Best hyperparameters: {'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}
Accuracy score: 0.8973891924711597

### SVM (Support Vector Machine)

In [33]:
from sklearn.svm import SVC

In [9]:
param_grid1 = {"C": [0.1, 1],
              "kernel": ["linear", "poly", "rbf", "sigmoid"],
              "gamma": ["scale", "auto"]}

In [ ]:
param_grid2 = {"C": [0.1, 1],
              "kernel": ["rbf", "sigmoid"],
              "gamma": ["scale", "auto"]}

In [35]:
svm = SVC()

In [36]:
grid_search = GridSearchCV(svm, param_grid, cv=5)

In [ ]:
grid_search.fit(X_train, y_train)

In [ ]:
print("Best hyperparameters:", grid_search.best_params_)
print("Accuracy score:", grid_search.best_score_)

### RED NEURONAL: MLP (Perceptrón Multicapa) Hecho con scik-learn, hacer con keras?

In [1]:
from sklearn.neural_network import MLPClassifier

In [2]:
param_grid = {"hidden_layer_sizes": [(10,), (50,), (100,)],
              "activation": ["logistic", "relu"],
              "solver": ["lbfgs", "sgd", "adam"]}

In [3]:
mlp = MLPClassifier(random_state=42)

In [4]:
grid_search = GridSearchCV(mlp, param_grid, cv=5)

NameError: name 'GridSearchCV' is not defined

In [ ]:
grid_search.fit(X_train, y_train)

In [ ]:
print("Best hyperparameters:", grid_search.best_params_)
print("Accuracy score:", grid_search.best_score_)

adaboost, gradient boosting, plot_classifier_comparisson

mirar accuracy, matriz de confusion,roc. auc

In [ ]:
visializacion de features